@model IEnumerable<SimpleShop.Models.Entities.Product>

@{
    ViewData["Title"] = "Simple Shop";
}

<h1 class="mb-4">Simple Shop</h1>

<div class="hero-section mb-5">

    <div class="row align-items-center">

        <div class="col-lg-6">

            <span class="badge bg-danger mb-3">
                Summer Sale
            </span>

            <h1 class="display-5 fw-bold">

                Upgrade Your Tech

            </h1>

            <p class="lead text-muted">

                Discover quality products with great prices.

            </p>

            <a asp-controller="Products"
               asp-action="Index"
               class="btn btn-danger btn-lg">

                Shop Now

            </a>

        </div>

        <div class="col-lg-6 text-center">

            <img src="~/images/hero.jpg"
                 class="img-fluid hero-image" />

        </div>

    </div>

</div>

<div class="mb-4">

    <a asp-controller="Products"
       asp-action="Create"
       class="btn btn-success">

        Add Product

    </a>


    <a asp-controller="Categories"
       asp-action="Create"
       class="btn btn-primary">

        Add Category

    </a>

</div>



<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">

            <div class="card h-100 shadow-sm">

                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@item.ImageUrl"
                         class="card-img-top"
                         alt="@item.Name>
                }
                else
                {
                    <img src="https://placehold.co/600x400"
                         class="card-img-top"
                         alt="@item.Name">
                }

                <div class="card-body">

                    <h5 class="card-title">
                        @item.Name
                    </h5>

                    <p class="card-text">
                        @item.Description
                    </p>

                    <p>
                        <strong>Category:</strong>
                        @item.Category?.Name
                    </p>

                    <h4 class="text-success">
                        @item.Price.ToString("N0") تومان
                    </h4>

                </div>

                <div class="card-footer bg-white">

                    <a asp-controller="Products"
                       asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-primary w-100">

                        View Details

                    </a>

                </div>

            </div>

        </div>
    }

</div>